html {
margin: 0; padding: 0; border: 0;
}

body {
  margin: 0; padding: 0; border: 0;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 18px;
  color: #333;
  background: #fff url(/images/topgradient.png) repeat-x;
}

a { color: #2e7dcd; }
a, a:visited { color: #000; }
pre { width: 100%; padding-bottom: 24px; }

table {
  margin: 0 auto;
}

.clearall, .clearallrule {
  margin: 0 0 10px;
  padding: 10px 0 0 0;
  clear: both;
  font-size: 2px;
}

.clearallrule {
  border-bottom: 1px solid #ccc;
}

.img a {
  border: none;
}

/*** Header ***/

div#header {
  font-family:arial,"Lucida Grande",helvetica,sans-serif;
  text-align: center;
  margin: 10`px 0;
  font-size: 10px;
  color: #999;
}

#topnav a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 30px 20px;
}

#topnav a.current {
  background: none;
  background-color: #fff;
  color: #000;
}

div#header div.clearall {
  margin: 0 0 20px;
  padding: 0;
  clear: both;
  font-size: 2px;
}

body.overview h1 {
  font-family:arial,"Lucida Grande",helvetica,sans-serif;
  font-size:24px;
  font-weight:bold;
  margin:0 0 8px;
}

div.message {
  margin: 0 auto 30px auto;
  width: 800px;
  margin: 100px auto 10px auto;
}

div.message img {
  float: left;
}

div.message h1 {
  font-family:"Lucida Grande",helvetica,arial,sans-serif;
  font-size: 36px;
}

div.message p {
  line-height: 1.4em;
}

/* Content-page image+blurb content blocks */
body.overview div.content {
  width: 900px;
  margin: 40px auto 0px auto;
  text-align: left;
  clear: both;
}

body.overview div.content div.thumb {
  float: left;
  width: 307px;
  text-align: right;
  margin-bottom: 32px;
}

body.overview div.content div.details {
  float: right;
  width: 575px;
}

body.overview div.content p a {
  color: #369;
}

body.overview div.content h2 span {
  color: #333;
  padding: 4px;
}

body.overview div.content img {
  margin: 0 10px 5px 0;
}

/*** Calls to action ***/
.calls-to-action {
  clear: both;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
  padding: 0;
  font-family: arial, "Lucida Grande", helvetica, sans-serif;
  font-size: 22px;
  margin: 0 0 15px 0;
}

h2 a, h2 a:visited {
  color: #2e7dcd;
  text-decoration: none;
}

.calls-to-action p a {
  text-decoration: none;
}

.calls-to-action p {
  font-size: 15px;
  margin: 0;
}

.calls-to-action td {
  text-align: center;
  vertical-align: top;
  padding: 0 10px;
  width: 175px;
}

.calls-to-action img {
  padding: 1px;
  margin: 0 7px 5px 7px;
}

img { border-width:0; }
a.no_link_hover:hover { background: none !important; }

/*** Footer ***/
div#footer {
  font-family:arial,"Lucida Grande",helvetica,sans-serif;
  background-color: #98c804;
  margin: 80px 0 0 0;
  padding: 0;
  color: #fff;
}

div#footer>ul {
  margin: 20px auto;
  display: block;
  width: 600px;
  list-style: none;

  line-height: 32px;
  color: #fff;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

div#footer>ul>li {
  width: 140px;
  margin: 28px 0 0 0;
  float: left;
}

div#footer>ul>li>ul {
  list-style: none;
  padding: 0; margin: 0;
}

div#footer>ul>li>ul>li a{
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
  line-height: 2em;
  color: #fff;
}

div#copyright {
  clear: both;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  font-style: italic;
}

#copyright img {
  vertical-align: middle;
  margin-right: 12px;
}

/** Blog */
.byline {
  font-size: 12px;
  font-style: italic;
}

.comments-line {
  font-style: italic;
  text-align: right;
}

.blog-header {
  width: 800px;
  margin: 50px auto;
}

.blog-header img {
  float: left;
}

.blog-header h1 {
  font-family:"Lucida Grande",helvetica,arial,sans-serif;
  font-size: 36px;
}

.blog-header p {
  line-height: 1.4em;
}

.post {
  width: 800px;
  margin: 50px auto 10px auto;
}

.post img {
  float: left;
}

.post h1 {
  font-family:"Lucida Grande",helvetica,arial,sans-serif;
  font-size: 36px;
}

.post p {
  line-height: 1.4em;
}

